nav {
  margin-bottom: 2em;
  font-size: 1.1em;
  background-color: #6e5df1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 2.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  display: inline;
  padding: 0 16px 0 16px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: #f46555;
}
/* .bcg {
  background-color: #f46555;
  border-radius: 2%;
  padding: 5px;
  margin-right: 0.2em;
}

.bcg a:hover {
  color: #6e5df1;
} */

.logo {
  display: block;
  position: absolute;
  left: 0;
}
